@model IEnumerable<BusManagement.Models.StopStation>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StopLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeStop)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Route.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StopLocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeStop)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Route.Price)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
