@model BusManagement.Models.Route

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Route</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StarTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StarTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstimateDistance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstimateDistance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstimateArrivalTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstimateArrivalTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstimatePassenger)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstimatePassenger)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bus.BusName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bus.BusName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Departure.DepartureName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Departure.DepartureName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Destination.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Destination.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
