@model BusManagement.Models.Ticket

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TicketCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TicketCreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketCreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TicketExpiredDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketExpiredDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Route.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Route.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.UserName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
